@import "tailwindcss";

@media print {
  body * {
    visibility: hidden;
  }
  #thermal-printable-receipt, #thermal-printable-receipt * {
    visibility: visible;
  }
  #thermal-printable-receipt {
    position: absolute;
    left: 0;
    top: 0;
    width: 100% !important;
    max-width: 80mm !important;
    background: white !important;
    color: black !important;
    box-shadow: none !important;
    border: none !important;
    padding: 0 !important;
    margin: 0 !important;
  }
}
